%h2 Drop image placeholders

.demo.container
  .example
    = media(:image, :demo, 229, 170, 'just a silly placeholder image')
  .snippet
    %textarea
      :preserve
        = media(:image, :demo, 229, 170, 'just a silly placeholder image')