%h2 Automatically generate static views
  
.demo.container
  %h3 view the source. this very demo site was built with framer. 
  %h4 static files are automatically cached to /static, and ready to serve up however you choose!